.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
build/
**/Pods/
**/.symlinks/
**/Flutter/ephemeral/
**/Flutter/Generated.xcconfig
**/Flutter/flutter_export_environment.sh
**/local.properties
*.iml
.idea/
.DS_Store
